@font-face
    font-family: 'Amatic SC'
    src: url('../../assets/Fonts/amatic_sc/AmaticSC-Bold.ttf')
    font-weight: bold

@font-face
    font-family: 'Open Sans'
    src: url('../../assets/Fonts/open-sans/OpenSans-Regular.ttf')

@font-face
    font-family: 'Open Sans'
    src: url('../../assets/Fonts/open-sans/OpenSans-Bold.ttf')
    font-weight: bold

body
    font-family: 'Open Sans', Helvetica, sans-serif
    margin: 0
    background-color: #e8e8e8

h1
    font-size: 5rem

.app
    height: 100vh
    display: grid
    overflow: scroll
    grid-auto-columns: auto 1fr
    grid-template-areas: "menu-bar content"

.menu-bar
    grid-area: menu-bar
    width: 250px
    border-right: 1px solid #a4b0be
    position: sticky
    height: 100vh
    top: 0
    & li
        list-style: none
        margin-top: 1.5rem
        font-size: 1.5rem

.content
    grid-area: content

.app-logo
    font-family: 'Amatic SC'
    font-size: 7rem
    text-align: center

.cell-list
    padding: 0

.cell
    width: 80%
    margin: 0 auto 20px
    border: 1px solid #a4b0be
    border-radius: 100px
    transition: all 0.3s
    background-color: #ddd
    padding: 30px
    &.active
        background-color: #fff
        border: 1px solid #2f3542
        outline: none
    &:hover
        border: 1px solid #2f3542
        outline: none
    .editor
        padding: 20px
        margin: 0 25px
        border-radius: 5px
        border: 1px solid #aaa
    .cell-type-picker
        display: flex
        flex-direction: row
        // background: #222
        border-bottom: 1px solid #a4b0be
        color: #fff
        margin-bottom: 20px
        transition: all 0.2s
        & > div
            text-align: center
            flex-basis: 100%
            max-width: 150px
            margin: 7px 10px
            padding: 3px
            transition: all 0.3s
            opacity: 0.7
            path
                transition: all 0.4s
            &:hover
                // background-color: lighten(#333, 50%)
                cursor: pointer
        .active
            opacity: 1
            svg
                fill: #74b9ff !important
            path
                fill: #74b9ff !important
        .cell-type-plaintext
            display: flex
            i
                margin: auto
            svg
                width: 40px
                fill: #000
        .cell-type-markdown
            svg
                width: 60px
                & path
                    fill: #000
        .cell-type-todolist,
        .cell-type-code
            display: flex
            i
                margin: auto
            svg
                width: 50px
                fill: #000
        .cell-type-plaintext:hover,
        .cell-type-markdown:hover,
        .cell-type-todolist:hover,
        .cell-type-code:hover
            opacity: 1
            transform: scale(1.1)

    .cell-delete-btn
        display: inline-block
        text-align: center
        padding: 10px 15px
        margin: 20px
        border-radius: 10px
        margin-top: 20px
        background-color: #eb4d4b
        color: #fff
        transition: all 0.3s
        &:hover
            background-color: lighten(#eb4d4b, 10%)
            cursor: pointer

.todo-add-btn
    color: #fff
    background-color: #2ecc71
    padding: 10px 15px
    display: inline-block
    border-radius: 10px
    margin-bottom: 20px
    transition: all 0.3s
    &:hover
        background-color: darken(#2ecc71, 5%)
        cursor: pointer

.todo-list 
    list-style: none
    padding: 0
    li
        display: flex
        padding: 0.5rem
        transition: all 0.3s
        &:nth-child(2n)
            background-color: #eee
            &.completed
                background-color: lighten(#2ecc71, 10%)
        &:nth-child(2n+1)
            &.completed
                background-color: lighten(#2ecc71, 20%)
        .todo-editor
            border: none
            padding: 11px 0
            font-size: 1rem
            width: 100%
            &:focus
                outline: none

    .todo-item
        width: 100%
        display: flex
        margin: auto 0
    .todo-delete-btn
        background-color: #eb4d4b
        min-width: 30px
        height: 30px
        border-radius: 5px
        display: flex
        & > i
            width: 20px
            height: 20px
            margin: auto
        svg
            width: 20px
        path
            transition: all 0.2s
            fill: #ddd !important
        &:hover
            cursor: pointer
            path
                fill: #fff !important

    & input[type='checkbox']
        position: absolute
        left: -9999px
        &:checked + .switch
            background-color: #2ecc71
            &:after
                transform: translateX(20px)
    
    .switch
        position: relative
        display: inline-block
        min-width: 40px
        height: 20px
        border-radius: 20px
        border: 1px solid #555
        background-color: #e74c3c
        margin: auto
        transition: all 0.3s
        &:after
            transition: all 0.3s
            content: ''
            position: absolute
            width: 18px
            height: 18px
            border-radius: 20px
            background-color: #fff
            top: 1px
            left: 1px
    .todo-text
        margin: auto 1rem
        padding: 10px 0
        width: 100%
        line-height: 20px

.editor
    textarea:focus
        outline: none
    & > div
        margin: 0
    & > *
        margin: 1rem 0.5rem
    h1
        font-size: 4rem
    h2
        font-size: 3.125rem
    h3
        font-size: 2.25rem
    h4
        font-size: 1.75rem
    h5
        font-size: 1.5rem
    h6
        font-size: 1.25rem