@font-face
    font-family: 'Amatic SC'
    src: url('../../assets/Fonts/amatic_sc/AmaticSC-Bold.ttf')
    font-weight: bold

@font-face
    font-family: 'Open Sans'
    src: url('../../assets/Fonts/open-sans/OpenSans-Regular.ttf')

@font-face
    font-family: 'Open Sans'
    src: url('../../assets/Fonts/open-sans/OpenSans-Bold.ttf')
    font-weight: bold

// Reset basic styles

a
    color: inherit
    text-decoration: none

// FFD166, 26547C, F2D0A4, 577590

html
    --background-color: linear-gradient(#E1ECF5 60%, #D3EFFF)
    --font-color-primary: #444
    --font-color-secondary: #222
    --primary-color: #fff
    --primary-color-accent: #D0E1EF
    --primary-color-accent-hover: lighten(#ECEFF1, 20%)
    --border-color: #222
    --icon-color: #000
    --active-cell-color: #2f3640

// Тема оформления
html[data-theme='dark']
    --background-color: #2c3e50
    --font-color-primary: #fff
    --font-color-secondary: #fff
    --primary-color: #34495e
    --primary-color-accent: #222f3e
    --primary-color-accent-hover: lighten(#222f3e, 20%)
    --border-color: #fff
    --icon-color: #fff
    --active-cell-color: #fff

body
    font-family: 'Open Sans', Helvetica, sans-serif
    margin: 0
    transition: background 0.2s
    background: var(--background-color)
    background-attachment: fixed
    color: var(--font-color-primary)

h1
    font-size: 5rem

.app
    height: 100vh
    display: grid
    overflow: hidden auto
    grid-auto-columns: auto 1fr
    grid-template-areas: "menu-bar content"

.hamburger-btn
    & .bars
        position: relative
        height: 4px
        width: 35px
        background: var(--icon-color)
        &:before, &:after
            content: ' '
            position: absolute
            width: 100%
            height: 4px
            background-color: inherit
        &:before
            top: 10px
        &:after
            bottom: 10px
    &:hover
        cursor: pointer
    z-index: 2
    position: fixed
    padding: 15px
    top: 30px
    left: 30px

.menu-bar
    &.open
        left: 0
        & + .content
            filter: blur(3px)
    transition: all 0.3s ease-in-out
    z-index: 1
    background-color: var(--primary-color-accent)
    grid-area: menu-bar
    padding-top: 4rem
    width: 250px
    border-right: 1px solid #a4b0be
    position: fixed
    height: 100vh
    top: 0
    left: -250px
    overflow: hidden
    & ul
        position: relative
    & li
        & a:hover
            border-bottom: 2px solid var(--font-color-primary)
        list-style: none
        margin-top: 1.5rem
        font-size: 1.5rem

.content
    grid-area: content
    transition: all 0.3s

.app-logo
    font-family: 'Amatic SC'
    font-size: 7rem
    text-align: center

.cell-list
    padding: 0

.cell
    width: 80%
    margin: 0 auto 2rem
    border: 1px solid var(--border-color)
    border-radius: 3rem
    transition: all 0.2s
    background-color: var(--primary-color-accent)
    padding: 0px 5%
    box-sizing: border-box
    &.active
        box-shadow: 15px 15px 2px #222
        background-color: var(--primary-color)
        .editor
            border: 1px solid var(--border-color)
        & .active
            background-color: var(--active-cell-color)
            border-radius: 30px
            & svg, & path
                fill: #fff !important
    &:not(.active):hover
        background-color: var(--primary-color-accent-hover)
    .editor
        padding: 20px
        margin: 0 25px
        border-radius: 5px
        border: 1px solid rgba(255, 255, 255, 0)
    .cell-type-picker
        display: flex
        flex-direction: row
        border-bottom: 1px solid var(--border-color)
        color: #fff
        margin-bottom: 20px
        transition: all 0.2s
        & > div
            text-align: center
            flex-basis: 100%
            max-width: 150px
            margin: 7px 10px
            padding: 3px
            transition: all 0.2s
            opacity: 0.7
            path
                transition: all 0.4s
                fill: var(--icon-color)
            &:hover
                cursor: pointer
        .active
            opacity: 1
            svg
                fill: #1e90ff !important
            path
                fill: #1e90ff !important
        .cell-type-plaintext
            display: flex
            path
                fill: var(--icon-color)
            i
                margin: auto
            svg
                fill: var(--icon-color)
                width: 35px
        .cell-type-markdown
            path
                fill: var(--icon-color)
            svg
                width: 50px
                & path
        .cell-type-todolist,
        .cell-type-code
            display: flex
            i
                margin: auto
            svg
                fill: var(--icon-color)
                width: 40px
            path
                fill: var(--icon-color)
        .cell-type-plaintext:hover,
        .cell-type-markdown:hover,
        .cell-type-todolist:hover,
        .cell-type-code:hover
            opacity: 1
            transform: scale(1.1)

    .cell-delete-btn
        display: inline-block
        text-align: center
        padding: 10px 15px
        margin: 20px
        border-radius: 10px
        margin-top: 20px
        border: 2px solid #eb4d4b
        color: #eb4d4b
        transition: all 0.3s
        &:hover
            background-color: #eb4d4b
            color: #fff
            cursor: pointer

.add-new-cell-btn
    &:after
        width: 3rem
        height: 3rem
        position: relative
        content: "+"
        display: inline-block
        text-align: center
        line-height: 3rem
        font-size: 3rem
    &:hover
        cursor: pointer
        background-color: darken(#2ecc71, 5%)
    position: fixed
    right: 1rem
    bottom: 1rem
    width: 3rem
    height: 3rem
    border-radius: 50%
    color: #fff
    background-color: #2ecc71
    transition: all 0.2s

.todo-add-btn
    border: 2px solid #2ecc71
    color: #2ecc71
    padding: 10px 15px
    display: inline-block
    border-radius: 10px
    margin-bottom: 20px
    transition: all 0.3s
    &:hover
        background-color: #2ecc71
        color: #fff
        cursor: pointer

.todo-list 
    list-style: none
    padding: 0
    li
        &:hover
            background-color: var(--primary-color-accent)
        display: flex
        padding: 0.5rem
        transition: all 0.3s
        // border-radius: 5px
        &:nth-child(2n)
            // background-color: #eee
            &.completed
                background-color: lighten(#2ecc71, 10%)
        &:nth-child(2n+1)
            &.completed
                background-color: lighten(#2ecc71, 20%)
        .todo-editor
            background-color: transparent
            border: none
            padding: 11px 0
            font-size: 1rem
            width: 100%
            color: inherit
            &:focus
                outline: none

    .todo-item
        width: 100%
        display: flex
        & > *
            margin: auto 0
    .todo-delete-btn
        background-color: #eb4d4b
        min-width: 30px
        height: 30px
        border-radius: 5px
        display: flex
        & > i
            width: 20px
            height: 20px
            margin: auto
        svg
            width: 20px
        path
            transition: all 0.2s
            fill: #ddd !important
        &:hover
            cursor: pointer
            path
                fill: #fff !important

    & input[type='checkbox']
        position: absolute
        left: -9999px
        &:checked + .switch
            background-color: #2ecc71
            &:after
                transform: translateX(20px)
    
    .switch
        position: relative
        display: inline-block
        min-width: 40px
        height: 20px
        border-radius: 20px
        border: 1px solid #555
        background-color: #e74c3c
        margin: auto
        transition: all 0.3s
        &:after
            transition: all 0.3s
            content: ''
            position: absolute
            width: 18px
            height: 18px
            border-radius: 20px
            background-color: #fff
            top: 1px
            left: 1px
    .todo-text
        margin: auto 1rem
        padding: 10px 0
        width: 100%
        max-width: 100%
        line-height: 20px
        white-space: normal
        word-break: break-word

.editor
    textarea:focus
        outline: none
    & > div
        margin: 0
    & > *
        margin: 1rem 0.5rem
    h1
        font-size: 4rem
    h2
        font-size: 3.125rem
    h3
        font-size: 2.25rem
    h4
        font-size: 1.75rem
    h5
        font-size: 1.5rem
    h6
        font-size: 1.25rem

.options
    > div
        // display: inline-block
        border: 1px solid var(--border-color)
        // border: 1px solid #fff
        border-radius: 30px
        width: 10rem
        text-align: center
        padding: 1rem 0
        margin: 0 0 2rem 2rem
        transition: all 0.2s
        &:hover
            cursor: pointer
            transform: scale(1.05)
    & .light-theme-btn
        background-color: #fff
        color: #000
    & .dark-theme-btn
        background-color: #2c3e50
        color: #fff
    & h1
        text-align: center
        margin-top: 0
    & h2
        font-size: 3rem
        // margin-left: 1rem
    display: flex
    justify-items: start
    flex-flow: column wrap
    width: 70%
    margin: 100px auto